*{
    margin: 0%;
    padding: 0%;
}
.cabeçalho{
    background-color: rgba(57, 83, 133, 0.884);
    color: aliceblue;
}
.titulo{
    font-size: 300%;
    text-align: center;
   }
   .subtitulo{
    text-align: center;
    font-size: 110%;
   }
   .introdução{
    text-align: center;
    font-size: 23px;
   }
.tituloimgprimeirodia{
    text-align: center;
    font-size: 130%;
}
.imgprimeirodia{
    width: 65%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 33% 33% 33%;
}

