*{
    margin: 0%;
    padding: 0%;
}
.cabeçalho{
    background-color: rgb(100, 100, 255);
    color: aliceblue;
}
.titulo{
    font-size: 300%;
    text-align: center;
   }
   .subtitulo{
    text-align: center;
    font-size: 110%;
   }
   .introdução{
    text-align: center;
    font-size: 90%;
   }

